body,
html {
    height: 100%;
    margin:0;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.8rem;
    color: #6666;
}

/*Parallax Image Styling*/

/*positioned as relative, no repeating, fixed background*/

body > div.pimg1,
body > div.pimg2,
body > div.pimg3 {

        color: #000;
        position: relative;
        
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    
        
        /*FIXED= PARALLAX EFFECT
        SCROLL- NORMAL (DEFAULT)*/
    
        background-attachment: fixed;
}
/*PARALLAX TEXT*/

.caption {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 1.4rem;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.caption .border {
    background-color:black;
    color: white;
    padding: 1rem;
}

.caption .border.trans {
    background-color: #black;
}


div.pimg1 {
    background: url(./images/pexels-photo-169573.jpeg);
    min-height: 100%;

}

div.pimg2 {
    background: url(./images/pexels-photo-249798.png);
    min-height: 400px;
}

div.pimg3 {
    background: url(./images/pexels-photo-574069.jpeg);
    min-height: 300px;
}
